
@{
    ViewBag.Title = "Wall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="main_avatar">
            <img class="card-img-top" src="../images/banner_placeholder.jpg" alt="Banner image" />
            <div class="card-body">
                <img class="profile_pic" src="../images/profile_avatar_placeholder.jpg" alt="profile image" />
                <h4 class="card-title">Priyanka</h4>
                <p class="card-text">I am very cheer-loving girl. I like helping everyone...!</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h1 class="card-title">Wall</h1>
        <hr />
    </div>
</div>